@font-face {
  font-family: myFirstFont;
  src: url(../font/IRY-Medium.eot), url(../font/IRY-Medium.ttf),
    url(../font/IRY-Medium.woff);
}

input:focus {
  box-shadow: none !important;
  border-color: #4e51bf !important;
}

#phone_number:-moz-placeholder {
  text-align: right;
}
#phone_number:-ms-input-placeholder {
  text-align: right;
}
#phone_number::-webkit-input-placeholder {
  text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  overflow: hidden;
  background-color: #f6efe9;
  direction: rtl;
  margin: 0;
  padding: 0;
  font-family: myFirstFont;
  display: flex;
  height: 100svh;
  justify-content: center;
  align-items: center;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

p {
  margin-top: 0;
}

.splide__list {
  transition: all 0.3s ease-in-out !important;
}

.web_container {
  max-width: 900px;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: hsl(0, 0%, 98%);
}
.menu {
  position: absolute;
  background-color: hsl(0, 0%, 98%);
  max-width: 900px;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-radius: 3.5rem 0 0 3.5rem;
  margin-right: -250%;
  transition: 0.5s;
  overflow: hidden;
}
.menu .close {
  font-size: 2rem;
  color: #4e51bf !important;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 10%;
  font-weight: 100;
}
.menu ul {
  width: 80%;
  margin-right: 10%;
  list-style: none;
  margin-top: 130px;
}
.menu ul li {
  width: 100%;
  height: 60px;
}
.menu ul li a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
  transition: 0.2s;
}
.menu ul li a:hover {
  filter: brightness(70%);
}
.menu ul li i {
  font-size: 1.5rem;
  margin-left: 10px;
}
.menu img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
}
.header {
  height: 280px;
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  position: relative;
}
.header-top {
  height: 180px;
  background-color: #4e51bf;
  border-radius: 0 0 0 3.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.icon-menu {
  width: 30%;
  color: white;
  font-size: 2rem;
  margin-top: 30px;
}

.icon-menu i {
  cursor: pointer;
}
.profile {
  width: 30%;
  margin-top: 30px;
}
.profile img {
  width: 50px;
  height: 50px;
  background-color: white;
  float: left;
  border-radius: 50%;
  cursor: pointer;
}
.header-bottom {
  height: 180px;
  background-color: #ffe9ce;
  border-radius: 3rem;
  border-bottom-right-radius: 0;
  width: 80%;
  position: relative;
  right: 0;
  top: -80px;
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden;
}
.header-bottom img {
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
}
.header-bottom h2 {
  margin-top: 20px;
  font-weight: bold;
}
.header-bottom h6 {
  line-height: 35px;
  margin-top: 10px;
}
.information {
  display: flex;
  flex-wrap: wrap;
  /* height: 100%; */
  background-color: #ffe9ce;
  min-height: 100px;
  width: 100%;
}
.web-body {
  width: 100%;
  border-top-right-radius: 6rem;
  min-height: 300px;
  background-color: hsl(0, 0%, 98%);
  margin-top: -1px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 150px;
}

.box-item {
  width: 80%;
  height: 100px;
  background-color: #f4f5fe;
  border-radius: 2rem;
  /* margin-top: 30px; */
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
.box-item:hover {
  filter: brightness(92%);
}
.box-item .right {
  /* width : 100px; */
  padding: 10px;
  background-color: #edeef5;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-item .left-container {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.box-item .left {
  /* width : calc(100% - 100px); */
  box-sizing: border-box;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.box-item h6 {
  font-weight: bold;
  margin-top: 10px;
}
.box-item p {
  font-size: 0.9rem;
}
.box-item .right .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.box-item-active .right {
  background-color: #ffdd83;
}
.box-item-active .left {
  background-color: #ffe9ce;
}

.bg-primary-color {
  background-color: #4e51bf;
  color: white;
}

.footer {
  position: fixed;
  max-width: 500px;
  background-color: #e7e7ea;
  width: 100%;
  height: 60px;
  z-index: 1;
  transition: 0.5s;
  overflow: hidden;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  box-shadow: #4e51bf4d 0px 1px 2px 0px, #3c404326 0px 2px 6px 2px;
}
.footer ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer ul li {
  margin-top: 20px;
}
.footer ul li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  transition: 0.2s;
}
.footer ul li a:hover {
  color: #4e51bf;
}

/************************************************/
.header-login {
  height: 200px;
  background-color: white;
  width: 100%;
  position: relative;
}
.header-login-top {
  height: 200px;
  background-color: #ffe9ce;
  border-radius: 0 0 0 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  border-bottom-right-radius: 0;
  overflow: hidden;
}
.header-login-top img {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  max-width: 195px;
  position: absolute;
  top: 0;
  right: 0;
}
.header-login-bottom {
  height: 150px;
  background-color: #4e51bf;
  border-radius: 3rem;
  width: 80%;
  position: relative;
  right: 10%;
  top: -80px;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;
}
.text {
  margin-top: 80px;
  padding: 5%;
  text-align: justify;
  line-height: 35px;
  font-size: 1rem;
}
.web-body-login {
  padding-bottom: 0;
  padding-top: 0;
  /* border-bottom-left-radius: 3rem; */
  /* border-bottom-right-radius: 3rem; */
}
.confirm-footer {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: end;
  background: #fafafa;
  /* border-radius: 3rem; */
  /* margin-top: -80px; */
}
.confirm-footer .top {
  background: white;
  border-bottom-left-radius: 3rem;
  height: 90px;
  margin-top: -4px;
}
.confirm-footer .bottom {
  width: 100%;
  min-height: 200px;
  background: white;
  /* border-radius: 3rem; */
}
.confirm-footer .bottom2 {
  width: 100%;
  min-height: 200px;
  background: #4e51bf;
  border-radius: 3rem 3rem 0 0;
  border-top-left-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  padding-top: 2rem;
}
.header-login-top a {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.box-item-login {
  overflow: hidden;
  justify-content: start;
  height: 60px;
  border-radius: 1rem;
}
input {
  font-size: 1rem !important;
  height: 3rem !important;
}

/************************************************/

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.splide__slide {
  height: fit-content !important;
}

/** Check Box Start */
.checkbox-wrapper-24 .checkbox {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.checkbox-wrapper-24 label {
  display: inline-block;
  color: #333;
  cursor: pointer;
  position: relative;
  width: 100%;
}
.checkbox-wrapper-24 label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  transform-origin: center;
  border: 2px solid #333;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 10px;
  transition: background-color 150ms 200ms,
    transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.checkbox-wrapper-24 label span:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #333;
  position: absolute;
  transform: rotate(45deg);
  top: 11px;
  left: 7px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
.checkbox-wrapper-24 label span:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #333;
  position: absolute;
  transform: rotate(305deg);
  top: 14px;
  left: 8px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
.checkbox-wrapper-24 label:hover span:before {
  width: 5px;
  transition: width 100ms ease;
}
.checkbox-wrapper-24 label:hover span:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

.checkbox-wrapper-24 input[type="radio"],
.checkbox-wrapper-24 input[type="checkbox"] {
  display: none;
}
.checkbox-wrapper-24 input[type="radio"]:checked + label span,
.checkbox-wrapper-24 input[type="checkbox"]:checked + label span {
  background-color: #333;
  transform: scale(1.25);
}
.checkbox-wrapper-24 input[type="radio"]:checked + label span:after,
.checkbox-wrapper-24 input[type="checkbox"]:checked + label span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type="radio"]:checked + label span:before,
.checkbox-wrapper-24 input[type="checkbox"]:checked + label span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type="radio"]:checked + label:hover span,
.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span {
  background-color: #333;
  transform: scale(1.25);
}
.checkbox-wrapper-24 input[type="radio"]:checked + label:hover span:after,
.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type="radio"]:checked + label:hover span:before,
.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

/** Check Box End */

.four-answer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 0;
}

.error_validation {
  color: red;
  /* direction: ltr; */
  font-size: 14px;
}

.mark-value {
  font-size: 12px !important;
}

/** Gender Radio Btn Start*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap");

:root {
  --primary: #4e51bf;
  --secondary: #fffff;
  --border-color: #d4d7eb;
}


input[type="radio"] {
  display: none;
}

.label-checkbox {
  display: flex;
  padding: 10px;
  align-items: center;
}

.container {
  transform: scale(.7);
  margin: 0;
  display: flex;
  align-items: center;
  width: 50px;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.cRadioBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  position: relative;
  border: solid 5px var(--border-color);
  box-sizing: border-box;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.cRadioBtn:hover {
  border: solid 8px var(--primary);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: var(--secondary);
}

.check:checked + label > .container > .cRadioBtn > .overlay {
  background: #fff;
  animation: shrink 0.3s ease-in-out forwards;
}

.check:checked + label > .container > .cRadioBtn {
  background: var(--primary);
  border-color: var(--primary);
}

.drops {
  position: absolute;
  background: #fff;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  aspect-ratio: 1;
}

.lgDrop {
  width: 50%;
}

.xsDrop {
  width: 20%;
}

.mdDrop {
  width: 30%;
}

.check:checked + label > .container > .cRadioBtn > .lgDrop {
  animation: drop 0.5s ease-in-out forwards;
}

.check:checked + label > .container > .cRadioBtn > .mdDrop {
  animation: drop 0.8s ease-in forwards;
}

.check:checked + label > .container > .cRadioBtn > .xsDrop {
  animation: drop 0.9s linear forwards;
}

@keyframes drop {
  0% {
    top: -100%;
  }
  50% {
    top: -100%;
  }
  75% {
    top: 10%;
  }
  100% {
    top: 25%;
  }
}

@keyframes shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 0px;
  }
}

/** Gender Radio Btn End*/
